<div data-elementor-type="header" data-elementor-id="35" class="elementor elementor-35 elementor-location-header" data-elementor-post-type="elementor_library">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-e6c4610 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e6c4610" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-04a1c9e" data-id="04a1c9e" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-f3be67b elementor-widget elementor-widget-image" data-id="f3be67b" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<a asp-controller="home" asp-action="index">
								<img title="logo" alt="logo" loading="lazy" src="~/wp-content/uploads/sites/17/elementor/thumbs/logo.png" class="lazyload logo" />
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0360281" data-id="0360281" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-70db06e elementor-nav-menu__align-end elementor-nav-menu--stretch elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="70db06e" data-element_type="widget" data-settings="{&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;i class=\&quot;fas fa-angle-down\&quot;&gt;&lt;\/i&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
						<div class="elementor-widget-container">
							<nav aria-label="Menu" style="display:block;" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
								<ul id="menu-1-70db06e" class="elementor-nav-menu" style="justify-content: space-between; display: flex; padding-left: 200px;">
									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6"><a asp-controller="home" asp-action="index" class="elementor-item">Əsas Səhifə</a></li>
									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-18">
										<a href="#" class="elementor-item elementor-item-anchor" tabindex="-1">Layihələrimiz</a>
										<ul class="sub-menu elementor-nav-menu--dropdown">
											@foreach (var item in Model.Project)
											{
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8"><a href="@Url.Action("Detail", "Services", new { id = item.Id })" class="elementor-sub-item" tabindex="-1">@item.TitleAz</a></li>

											}
										</ul>
									</li>
									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7"><a asp-controller="about" asp-action="index" class="elementor-item elementor-item-active">Haqqımızda</a></li>
									<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-13"><a asp-controller="contact" asp-action="index" aria-current="page" class="elementor-item">Əlaqə</a></li>
								</ul>
							</nav>
							<div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
								<i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open  ti-menu"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close  ti-close"></i>			<span class="elementor-screen-only">Menu</span>
							</div>
							<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" aria-hidden="true">
								<ul id="menu-2-70db06e" class="elementor-nav-menu">
									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6"><a asp-controller="home" asp-action="index" class="elementor-item" tabindex="-1">Əsas Səhifə</a></li>
									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7"><a asp-controller="contact" asp-action="index" class="elementor-item elementor-item-active" tabindex="-1">Haqqımızda</a></li>
									<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-18">
										<a href="#" class="elementor-item elementor-item-anchor" tabindex="-1">Layihələrimiz</a>
										<ul class="sub-menu elementor-nav-menu--dropdown">
											@foreach (var item in Model.Project)
											{
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8"><a href="@Url.Action("Detail", "Services", new { id = item.Id })" class="elementor-sub-item" tabindex="-1">@item.TitleAz</a></li>
											}
										</ul>
									</li>
									<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-13"><a asp-controller="contact" asp-action="index" aria-current="page" class="elementor-item" tabindex="-1">Əlaqə</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>

			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-c9c8021 elementor-hidden-mobile" data-id="c9c8021" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-e0110eb elementor-align-right elementor-widget elementor-widget-button" data-id="e0110eb" data-element_type="widget" data-widget_type="button.default">
						<div class="elementor-widget-container">
							<div class="elementor-button-wrapper">
								<a class="elementor-button elementor-button-link elementor-size-sm" asp-controller="contact" asp-action="index">
									<span class="elementor-button-content-wrapper">
										<span class="elementor-button-text">Bizimlə əlaqə yarat</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<div data-elementor-type="wp-post" data-elementor-id="698" class="elementor elementor-698" data-elementor-post-type="envato_tk_templates">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-4f71568 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4f71568" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1624c11" data-id="1624c11" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-f347075 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f347075" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-background-overlay"></div>
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-dca5c67" data-id="dca5c67" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-6a79988 elementor-invisible elementor-widget elementor-widget-heading" data-id="6a79988" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h1 class="elementor-heading-title elementor-size-default">Haqqımızda</h1>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-f82c684 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f82c684" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-cc4d302 elementor-invisible" data-id="cc4d302" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					
					<div class="elementor-element elementor-element-b5201b9 elementor-widget elementor-widget-heading" data-id="b5201b9" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Lisenziyamız</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-64a14b2 elementor-widget elementor-widget-text-editor" data-id="64a14b2" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>2024-cü ildə Azərbaycan Respublikası İqtisadiyyat Nazirliyi Tərəfindən Verilmişdir.</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-274ceef elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="274ceef" data-element_type="widget" data-widget_type="divider.default">
						<div class="elementor-widget-container">
							<div class="elementor-divider">
								<span class="elementor-divider-separator">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-502093f" data-id="502093f" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-f97601d elementor-section-boxed elementor-section-height-default elementor-section-height-default" style="display: flex; align-items: center;justify-content: center; height: 100vh" data-id="f97601d" data-element_type="section">
						<div style="width:60%" class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c638695 elementor-invisible" data-id="c638695" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
							<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c22f967 elementor-view-stacked elementor-shape-square elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="c22f967" data-element_type="widget" data-widget_type="icon-box.default">
									<div class="elementor-widget-container">
										<div class="elementor-icon-box-wrapper">
											<img src="~/uploads/WhatsApp Image 2025-04-19 at 22.40.01.jpeg" alt="lisenziya" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<section class="elementor-section elementor-top-section elementor-element elementor-element-db74807 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="db74807" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b5e325f" data-id="b5e325f" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-daf350e elementor-widget elementor-widget-heading" data-id="daf350e" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">Descriptions</h3>
						</div>
					</div>
					<div class="elementor-element elementor-element-7e72684 elementor-widget elementor-widget-text-editor" data-id="7e72684" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>
								Biz "AA MMC" komandası olaraq 2018-ci ildən etibarən qazma-daşınma və paralel olaraq bənd qurma fəaliyyəti ilə məşğuluq.
								Fəaliyyətimiz boyunca Gədəbəy qızıl mədəni, Əhmədbəyli-Füzuli- Şuşa  avtomobil yolu,
								Laçın Beynəlxalq Hava Limanı, Kəlbəcər-Laçın  və Xudafərin-Qubadlı-Laçın avtomobil yolları layihəsini icra etmişik.
							</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-81df790 elementor-widget elementor-widget-text-editor" data-id="81df790" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>
								-2022- ci ilin Yanvar ayından etibarən başlayan "Əhmədbəyli-Fizuli-Şuşa" avtomobil yolunun km 34+000 və km 51.000 aralıq hissəsinin tikinti layihəsi 6 ay sonra uğurla təhvil verilmişdir.

								"Laçın Beynəlxalq Hava Limanının km 1+620 və
								km 3+920 aralıq hissəsinin torpaq yatağının tikinti (bitki qatının çıxarılması, qazma, dolğu) işləri "A-A MMC" olaraq tərəfimizdən uğurla yekunlaşdırılmışdır.
							</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-81df790 elementor-widget elementor-widget-text-editor" data-id="81df790" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>
								İndi isə sizə, AA MMC olaraq hal-hazırda çalışdığımız layihələri təqdim etmək istəyirik:
								Hal-hazırda uğurla davam edən layihələrimdən  biri də Kəlbəcər-Laçın avtomobil yolu layihəsidir.

								AA MMC olaraq qeyd olunan Kəlbəcər-Laçın avtomobil yolunun km 35+000 və
								km 72+800 aralıq hissəsinin tikinti layihəsini də uğurla davam etdiririk.
								Layihə boyunca 2022-ci ilin avqust ayından başlayaraq 2024-ci ilin dekabr ayına kimi qeyd olunan işlər görülmüşdür:
							</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-81df790 elementor-widget elementor-widget-text-editor" data-id="81df790" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>
								A-A MMC olaraq hal-hazırda çalışdığımız digər layihəmiz isə Yeni Xudafərin-Qubadlı-Laçın avtomobil yolunun 33 km-dən ayrılmaqla Laçın dəhlizinə kimi olan avtomobil yolu layihəsinin km 19+040 və km 23+320 aralıq hissəsində torpaq yatağının və sünii qurğuların tikinti layihəsidir.
							</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-81df790 elementor-widget elementor-widget-text-editor" data-id="81df790" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>
								A-A MMC olaraq ən uzunmüddətli layihəmiz 2018-ci ildən etibarən Gədəbəy qızıl mədənində qazma-daşınma layihəmizdir.

								Qeyd edək ki, mədəndə qızıl və mis tərkibli xam dağ süxurları qazılaraq filiz meydançasına ay ərzində 370 000 ton daşınması tərəfimizdən həyata keçirilir.
							</p>
						</div>
					</div>
					</div>
			</div>
			<div style="display:flex; flex-direction:column; align-items: anchor-center;">
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d2a51aa" data-id="d2a51aa" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-8700bf6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8700bf6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-3b757a5" data-id="3b757a5" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">

										<div class="elementor-element elementor-element-6b5d523 elementor-widget elementor-widget-heading" data-id="6b5d523" data-element_type="widget" data-widget_type="heading.default">
											<div class="elementor-widget-container" style="padding-top: 40px;">
												<img src="~/uploads/\11zon_IMG_9717.jpeg" alt="Alternate Text" />
											</div>
										</div>
									</div>
								</div>

							</div>
						</section>
					</div>
				</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d2a51aa" data-id="d2a51aa" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-8700bf6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8700bf6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-3b757a5" data-id="3b757a5" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">

										<div class="elementor-element elementor-element-6b5d523 elementor-widget elementor-widget-heading" data-id="6b5d523" data-element_type="widget" data-widget_type="heading.default">
											<div class="elementor-widget-container" style="padding-top: 40px;">
												<img src="~/uploads/11zon_IMG_9726.jpeg" alt="Alternate Text" />
											</div>
										</div>
									</div>
								</div>

							</div>
						</section>
					</div>
				</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d2a51aa" data-id="d2a51aa" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-8700bf6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8700bf6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-3b757a5" data-id="3b757a5" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">

										<div class="elementor-element elementor-element-6b5d523 elementor-widget elementor-widget-heading" data-id="6b5d523" data-element_type="widget" data-widget_type="heading.default">
											<div class="elementor-widget-container" style="padding-top: 40px;">
												<img src="~/uploads/11zon_IMG_9782.jpeg" alt="Alternate Text" />
											</div>
										</div>
									</div>
								</div>

							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
