@model Settings
@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Redaktə Et</h1>
        <form asp-action="edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="AddressAz">Ünvan Az</label>
                <input class="form-control" placeholder="Ünvan Əlavə Edin" asp-for="AddressAz">
            </div>
            <div class="form-group">
                <label asp-for="AddressEn">Ünvan En</label>
                <input class="form-control" placeholder="Ünvan Əlavə Edin" asp-for="AddressEn">
            </div>
            <div class="form-group">
                <label asp-for="AddressRu">Ünvan Ru</label>
                <input class="form-control" placeholder="Ünvan Əlavə Edin" asp-for="AddressRu">
            </div>
            <div class="form-group">
                <label asp-for="Phone">Əlaqə Nömrəsi</label>
                <input class="form-control" placeholder="Əlaqə Nömrəsi Əlavə Edin" asp-for="Phone">
            </div>
           
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" placeholder="Email Əlavə Edin" asp-for="Email">
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

