@model Settings

 <div class="col-md-8">
        <h1>Sayt Məlumatları</h1>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ünvan</th>
                    <th scope="col">Əlaqə Nömrəsi</th>
                    <th scope="col">Email</th>

               
                </tr>
            </thead>
            <tbody>

              
                    <tr>
                        <td>#</td>
                        <td>@Model.AddressAz</td>
                        <td>@Model.Phone</td>
                        <td>@Model.Email</td>

                        <td>
                            <a class="btn btn-warning" asp-action="edit" asp-route-id="@Model.Id">Redaktə Et</a>
                        </td>
                    </tr>
            </tbody>
        </table
    </div>