@model Project
@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Edit</h1>
        <form asp-action="edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="TitleAz">Başlıq Az</label>
                <input class="form-control" asp-for="TitleAz">
                <span class="text-danger" asp-validation-for="TitleAz"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleEn">Başlıq En</label>
                <input class="form-control" asp-for="TitleEn">
                <span class="text-danger" asp-validation-for="TitleEn"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleRu">Başlıq Ru</label>
                <input class="form-control" asp-for="TitleRu">
                <span class="text-danger" asp-validation-for="TitleRu"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionAz">Description Az</label>
                <textarea class="form-control" asp-for="DescriptionAz" rows="2"></textarea>
                <span class="text-danger" asp-validation-for="DescriptionAz"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionEn">Description En</label>
                <textarea class="form-control" asp-for="DescriptionEn" rows="2"></textarea>
                <span class="text-danger" asp-validation-for="DescriptionEn"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionRu">Description Ru</label>
                <textarea class="form-control" asp-for="DescriptionRu" rows="2"></textarea>
                <span class="text-danger" asp-validation-for="DescriptionRu"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile">Image</label>
                <input class="form-control" asp-for="ImageFile">
                <span class="text-danger" asp-validation-for="ImageFile"></span>
            </div>
            <div class="d-flex">
                <div class="img-box" style="position:relative;margin-right:14px">
                        <input type="hidden" value="@Model.ImageFile" name="CourseImage">
                        <img width="200" src="~/uploads/projects/@Model.Image" />
                 </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


@* @section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
} *@


